*{
    margin: 0;
      padding: 0;
  }
  .upper_body{
   text-align: center;
   
   



  }
  ::-webkit-input-placeholder{
    color:red;}
 
 .bodyy{
background:#6A0032;

 }
.upper_body{

  color:white;
  background:#6A0032;
  text-align:left;
 
 
  
}
.main_body{
  font-family:Georgia, 'Times New Roman', Times, serif;

background:white;
width: 700px;





}